
  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product{
    border: 1px #404040 solid;
    margin: 1rem;
  }
  
  .product img{
    width: 300px;
    height: 400px;
    object-fit: cover;
  }
  
  .product-info{
    padding: 1rem;
  }