body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product{
  border: 1px #404040 solid;
  margin: 1rem;
  width: 270px;
  height: 500px;
}

.product img{
  width: 268px;
  height: 300px;
  object-fit: cover;
}

.product-info{
  padding: 1rem;
}

.rating span{
  color: #ffc000;
}

.btn-primary{
  background-color: #f0c040;
  color: black;
}

.img-large{
  max-width: 100%;
}

.img-thumbnail{
  height: 80px;
}
.route-link{
  text-decoration: none;
}

.small-container{
  max-width: 600px;
}